.notiContainer {
  width: 590px;
  display: block;
  margin-top: 55px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid rgba(0, 0, 0, .25);
  background-color: white;
}

.notification {
  display: block;
  position: relative;
  min-height: 40px;
  margin: 8px 0;
}

.notiImg {
  position: relative;
  width: 120px;
  min-width: 120px;
  display: block;
  left: 0;
  top: 0;
}

.notiContent {
  position: relative;
  width: 120px;
  min-width: 120px;
  display: block;
  left: 120px;
  top: 0;
  color: black;
  font-size: 16px;
  line-height:20px;
}
