.profile .grid {
  top: 300px;
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 290px 880px;
  position: relative;
  left: 5%;
}

.profile_grid {
  top: 330px;
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 290px 880px;
  position: relative;
  left: 5%;
}


input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.ProfileCard_Name {
  color: black;
  font-size: 21px;
  font-weight: bold;
  line-height: 28px;
  margin-right: 2px;
  word-wrap: break-word;
}

.ProfileCard_Text {
  color: #657786;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px;
  position: relative;
  word-wrap: break-word;
}

.ProfileCard_JoinDate {
  color: #657786;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px;
  position: relative;
}

.ProfileInput {
  color: #14171a;
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  padding: 4px 7px;
  width: 80%;
}
.Name {
  font-size: 21px;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
.follow {
  display: flex;
  flex-wrap: wrap;
}

.btn-update-name {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 50px;
  background: transparent;
  border-color: #4c0e76;
  border: 1px solid;
  font-weight: bold;
  font-size: 15px;
  margin-top: 10px;
  margin-left: -25px;
  left: 50%;
  position: relative;
  transform: translateX(-50%)
}

.btn-update-name:hover {
  background-color: rgba(0, 0, 0, 0.2);
  outline: none;
  cursor: pointer;
}
