.box{
  border: 1px solid #e6ecf0;
  background-color: #e7f5fd;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
}

.box-avatar{
  margin-left: 16px;
}

.inputNewPost{
  height: 80px;
  width: 506px;
  margin-left: 10px;
  margin-top: 8px;
  padding-left: 8px;
  border: 1px solid #e6ecf0;
  resize: none;
  overflow: hidden;
  position: relative;
}

.inputNewPost:focus{
  outline: none;
}


.box-avatar-img{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-top: 10px;
}
.btnPost {
  border-radius: 20%;
  background-color: #e7f5fd;
}

.btnDang {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 10px;
  background: transparent;
  border-color: #4c0e76;
  border: 1px solid;
  font-weight: bold;
  font-size: 15px;
  outline: none;
  width: 104px;
  margin-top: 5px;
  position: relative;
  left: 80%;
}

.btnDang:hover {
  background-color: rgba(0, 0, 0, 0.2);
  outline: none;
  cursor: pointer;
}


.form-comment {
  display: flex;
  flex-direction: column;

}