.leftSide {
  min-width: 290px;
  display: block;
  position: relative;
}

.profileCard {
  height: 225px;
  position: relative;
  background-color: red;
}

.bgUser {
  width: 100%;
  height: 95px;
  background-color: #1DA1F2;
  position: relative;
}

.profileCardContent {
  width: calc(100% - 32px);
  height: calc(225px - 95px);
  background-color: white;
  padding-left: 16px;
  padding-right: 16px;
}

.profileCard-avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: #1DA1F2;
  position: absolute;
  top: calc(95px - 36px);
  border: 2px solid white;
  line-height: 72px;
  font-size: 36px;
  color: white;
  text-align: center;
  box-sizing: border-box;
}

.profileCard-img-avatar{
  width: 72px;
  height: 72px;
  border-radius: 50%;
  position: relative;
  border: 2px solid white;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
}


.userFields {
  position: absolute;
  top: 103px;
  left: 90px;
  width: 185px;
}

.userFields .name {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  margin: -1px 0 -2px 0;
  color: #14171a;
}

.userFields .username {
  font-size: 12px;
  padding-right: 5px;
  color: #66757f;
  line-height: 20px;
}

.stats {
  height: 53px;
  position: relative;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  top: 50px;
}

.stat {
  vertical-align: bottom;
  flex: 1;
  text-align: center;
}

.statlist {
  box-sizing: border-box;
  margin: 0;
  min-width: 100%;
  padding: 0;
  list-style: none;
  table-layout: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.statLabel {
  color: #657786;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: .02em;
  line-height: 16px;
  overflow: hidden;
  transition: color .15s ease-in-out;
}

.statValue {
  display: block;
  font-size: 18px;
  font-weight: bold;
  padding-top: 3px;
  transition: color .15s ease-in-out;
}

.clickAvatar {
  left: 43px;
  top: 115px;
}

.dropdown-clickAvatar-menu {
  left: 160px;
  top: 124px;
  position: absolute;
  width: 150px;
  display: block;
  background-color: red;
  -webkit-transform: translateX(-192px);
  transform: translateX(-192px);
  float: left;
  padding: 10px 0;
  background: #fff;
  border-radius: 4px;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
  list-style: none;
  z-index: 1;
  border: 1px solid #e6ecf0;
}

.fileInput {
  opacity: 0;
  position: relative;
  top: -20px;
  z-index: 2;
  width: 150px;
  height: 24px;
}

.menuText{
  line-height: 24px;
  text-align: center;
}

.menuItem{
  width: 100%;
  height: 30px;
}

.menuItem:hover{
  background-color: #1DA1F2;
}
