.post {
  background: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.header {
  display: flex;
  position: relative;
  top: 0;
}

.post-avatar {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  position: relative;
  left: 8px;
  top: 8px;
}

.postContent {
  position: relative;
  padding-left: 20px;
  padding-top: 8px;
  width: 100%;
}

.postOwner {
  word-break: break-all;
  color: #14171a;
  font-size: 14px;
  font-weight: bold;
}

.postAt{
  font-size: 14px;
color: #657786;
}
.postAt::before{
  content: "\00b7";
  margin-left: 5px;
  margin-right: 5px;
}

.footer{
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: space-between
}
