.loginContainer {
  width: 400px;
  height: 190px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  position: absolute;
  color: white;
}

.loginTitle{
  font-size: 3em;
  text-align: center;
  position: relative;
}

.textInput {
  width: 80%;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  left: 10%;
  position: relative;
  font-size: 1em;
  border-radius: 20px;
  border: 2px solid #1da1f2;
  padding-left: 10px;
}


.loginButton {
  width: 30%;
  left: 35%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 20px;
  position: relative;
  border: 2px solid #1da1f2;
  background-color: white;
  color: #1da1f2;
  font-size: 1em;
  font-weight: 800;
}

.loginButton:hover {
  cursor: pointer;
}  

.loginButtonLoading{
  position: relative;
  border: 2px solid #1da1f2;
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.lds-dual-ring {
  display: inline-block;
  width: 28px;
  height: 28px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 28px;
  height: 28px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fcf;
  border-color: #1da1f2 transparent #1da1f2 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
