.card {
   max-width: 290px ;
   min-width: 290px;
   background-color: #ffffff;
   height: 300px;
   margin: 10px;
   width: 33%;
   flex-grow: 1;
   position: relative;
}
.header_follow {
    background: #1DA1F2;
    height: 30%;
}
.avt{
    top: -10%;
    position: relative;
    margin-left: 20px
}
.avt img {
    border-radius: 50%
}
.btn {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 10px;
  border-radius: 50px;
  background: transparent;
  background-color: #1DA1F2;
  color:#ffff;
  border: 1px solid;
  font-weight: bold;
  font-size: 15px;
  float: right;
  margin-top: 10px
}
.info {
    margin-left: 20px
}

.cut-word{
    text-overflow: ellipsis;
    overflow: hidden;
    width: 280px;
    white-space: nowrap;
  }